[Unit]
Description=Disable Auto Power Control for Logitech USB

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/local/sbin/logitech-usb.sh

[Install]
WantedBy=multi-user.target
